<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>How to Search</title> 
    </head>
    <body>
        <h1>The Search Formular</h1>
        <div>You search by selecting a site in which you wish to search, and entering a search query to search for.</div>
        <h2>Site Selection</h2>
        <div>There has been added a number of sites to the Dev-Search facility. These sites have been crawled and prepared for searching. You can only search inside a single site at the time.</div>
        <h2>Search Language</h2>
        <div>The query language in version {version} of the Dev-Search application is based upon <a href="https://www.elastic.co/guide/en/elasticsearch/reference/master/query-dsl-simple-query-string-query.html">the simple queries of Elastic Search</a></div>
        <div>A query can look like this: <em>"Fault Tolerance" +microprofile</em>. This query searches for pages having the term <em>Fault Tolerance</em> and the word <em>microprofile</em>.</div>
    </body>
</html>
